<%- include('../partials/header'); -%>

<body>
<div class="container">

<main class="main">

<!-- after MVP add emails -->
<!-- password reset email -->


<h2>Profile Page</h2>

  <ul>
    <li>
      <h3><%=userData.firstName%></h3>
      <!-- <button type="Submit">Edit</button>             -->

      <h3><%=userData.lastName%></h3>
      <!-- <button type="Submit">Edit</button> -->

      <h3><%=userData.address%></h3>
      <!-- <button type="Submit">Edit</button> -->

      <h3><%=userData.city%>, <%=userData.state%>, <%=userData.zip%></h3>
      <!-- <button type="Submit">Edit</button> -->

      <h3><%=userData.phone%></h3>
      <!-- <button type="Submit">Edit</button> -->

      <h3><%=userData.email%></h3>
      <!-- <button type="Submit">Edit</button> -->

    </li>
  </ul>

<!-- Name
     Address
     City, State, Zip
     Phone
     Email

     CC -
     Card name
     Card number
     Exp date
     Sec code -->


</main>
</div>
<%- include('../partials/footer'); -%>

</body>
</html>