<%- include('../partials/header'); -%>
<div class="container">

    <main class="main">

<h2>Your Cart</h2>
          
      <!-- get data from USER MENU -->
      <!-- user can remove items or continue shopping -->
      <!-- add and calculate subtotal and tax and total -->
      <!-- store order history in user profile & -->
      <!-- display user order history on home page -->
      <!-- add checkout button  -->

      <form action="/orders/cart?_method=DELETE" method="post">
        <input type="submit" value="Delete Order"/>
      </form>

      <section>
      <ul>
        <% for(let i = 0; i < items.length; i++){ %>
          <li><div class="box">
            <div class="image">
              <img src="<%=items[i].image%>">
            </div>

            <div class ="text">
              <h3><%=items[i].name%></h3>
              <h3><%=items[i].body%></h3>
              <h3><%=items[i].price%></h3>
              <form action="/orders/cart/<%=items[i].id%>?_method=PUT" method="post">
                <input type="submit" value="Delete item"/>
              </form>
              <form action="/orders/update/<%items[i].id%>?_method=PUT" method="POST">
                <input type="number" name="<%items[i].amountInOrder%>" placeholder="<%=items[i].amountInOrder%>"/>
                <input type="submit" value="update item"/>
              </form>

          <%= message%>
      
        <% } %>
            </div>
          </div></li>
      </ul>
      </section>


      <section>
        <% const totalArray = [];%>
        <% let sum = 0; %>
        <% for(let i = 0; i < items.length; i++){ %>
          <% totalArray.push(items[i].price) %>
          <%sum += totalArray[i]%>
        <% } %>
        <% const totalTax = (sum * .1025) %>
        <% const tax = totalTax.toFixed(2)%>
        <% const addedTotal = (totalTax + sum) %>
        <% const total = addedTotal.toFixed(2)%>


        <div>
         <h3>Subtotal $<%= sum %></h3>
         <h3>Tax $<%=tax%></h3>
         <h3>Total $<%= total%></h3>
       </div>
      </section>
      <form action="/orders/checkout" >
        <input type="submit" value="submit order"/>
      </form>
    </main>
  </div>
<footer class="footer">
  SITE © 2018 by Jared & Steve 
</footer>

<%- include('../partials/footer'); -%>