<%- include('../partials/header'); -%>

<h2>Your Cart</h2>
          
      <!-- get data from USER MENU -->
      <!-- user can remove items or continue shopping -->
      <!-- add and calculate subtotal and tax and total -->
      <!-- store order history in user profile & -->
      <!-- display user order history on home page -->
      <!-- add checkout button  -->

    <main>
      <form action="/orders/cart?_method=DELETE" method="post">
        <input type="submit" value="Delete Order"/>
      </form>

      <section>
      <ul>
        <% for(let i = 0; i < items.length; i++){ %>
          <div class="box">
            <div class="image">
              <img src="<%=items[i].image%>">
            </div>

            <div class ="text">
              <h3><%=items[i].name%></h3>
              <h3><%=items[i].body%></h3>
              <h3><%=items[i].price%></h3>

              <form action="/orders/cart/<%=items[i].id%>?_method=PUT" method="post">
                <!-- <input type="number" name="amount"/> -->
                <input type="submit" value="Remove"/>
              </form>
            </div>          
          </div>
      </ul>
        <% } %>
      </section>
      <section>
        <% const totalArray = [];%>
        <% let sum = 0; %>
        <% for(let i = 0; i < items.length; i++){ %>
          <% totalArray.push(items[i].price) %>
          <%sum += totalArray[i]%>
        <% } %>
        <% const totalTax = (sum * .1025) %>
        <% const tax = totalTax.toFixed(2)%>
        <% const addedTotal = (totalTax + sum) %>
        <% const total = addedTotal.toFixed(2)%>
        <div>
         <h3>Subtotal $<%= sum %></h3>
         <h3>Tax $<%=tax%></h3>
         <h3>Total $<%= total%></h3>
       </div>
      </section>

    </main>


<%- include('../partials/footer'); -%>