<%- include('../partials/header'); -%>

<!-- This is the USER MENU PAGE -->
<!-- get data from admin menu -->
<!-- add button to add datta to cart menu -->

This is the user menu

<div class="box">
  <ul>
      <% for (let i = 0; i < items.length; i++) { %>
          <li>
              
            <h3><%=items[i].name%></h3>
            <h3><img src="<%=items[i].image%>"></h3>
            <h3><%=items[i].body%></h3>
            <h3><%=items[i].price%></h3>
            <form action="/orders/new" method="POST">
              <input type="submit" value="Add to Cart"/>              
            </form>
          </li>
      <% } %>
  </ul>
</div>



<%- include('../partials/footer'); -%>