<%- include('../partials/header'); -%>

<!-- This is the USER MENU PAGE -->
<!-- get data from admin menu -->
<!-- add button to add datta to cart menu -->
<div class="container">

<main class="main">
<% if (orderId) { -%>

      <ul>
        <% for (let i = 0; i < items.length; i++) { %>    
          <div class="box">

            <div class="image">    
              <img src="<%=items[i].image%>">
            </div>

            <div class ="text">
              <h3><%=items[i].name%></h3>
              <h3><%=items[i].body%></h3>
              <h3><%=items[i].price%></h3>
              <form action="/orders/additem" method="POST">
                <input type="number" name="amount" value="<%=items[i].amountInOrder%>"/>
                <input type="hidden" name="itemid" value="<%=items[i].id%>">
                <input type="submit" value="Add to Cart"/>
              </form>
            </div>
          </div>
           
        <% } %>
      </ul>

<% } else { -%>

  <form action="/orders" method="POST">
    <button>Create Order</button>
  </form>
  
<% } -%>

</main>
</div>
<end class="footer">
  SITE © 2018 by Jared & Steve 
</end>
<%- include('../partials/footer'); -%>