  <%- include('../partials/header'); -%>


<!-- THIS IS ADMIN MENU PAGE -->
<div class="container admin">
<main class="main">
<div class="adminHeader">
  <h1>Admin Menu Page</h1>
</div>
<div class="adminScroll">
<div class="adminList">
  <ul>
      <% for (let i = 0; i < items.length; i++) { %>
          <div class="box">

            <div class="image">
              <img src="<%=items[i].image%>">
            </div>

            <div class ="text">
              <h3><%=items[i].name%></h3>
              <h3><%=items[i].body%></h3>
              <h3><%=items[i].price%></h3>
              <form action="/items/<%=items[i]._id%>?_method=DELETE" method="post">
               <input class="adminDelete" type="submit" value="Delete item"/>
              </form>
            </div>

         </div>
      <% } %>
  </ul>
</div>
</div>
<!--     <h2>Entrees</h2>

    <h2>Dessert</h2>

    <h2>Drinks</h2>
 -->
<div class="adminForm">

<form action="/items" method="post">
    <input class="inputItem" type="text" name="name" placeholder="item name">
    <input class="inputItem" type="url" name="image" placeholder="image url">
    <textarea class="inputItem" name="body" placeholder="item description"></textarea>
    <input class="inputItem" type="text" name="price" placeholder="price">
    <input class="submitItem" type="submit" value="Add Item to Menu">
</form>
</div>
</main>
</div>

<footer class="footer">
  SITE © 2018 by Jared & Steve 
</footer>


  <%- include('../partials/footer'); -%>